<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nancy.control.dao.UserMapper">
    <resultMap id="userInfoMap" type="com.nancy.control.bean.UserInfo">
        <result column="id_user" jdbcType="VARCHAR" property="idUser"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_password" jdbcType="VARCHAR" property="userPassword"/>
        <result column="credentials_salt" jdbcType="VARCHAR" property="credentialsSalt"/>
    </resultMap>
    <resultMap id="roleMap" type="com.nancy.control.bean.SysRole">
        <result column="id_role" jdbcType="VARCHAR" property="idRole"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
    </resultMap>
    <resultMap id="menuMap" type="com.nancy.control.bean.Menu">
        <result column="id_menu" jdbcType="VARCHAR" property="idMenu"/>
        <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
        <result column="chinese_name" jdbcType="VARCHAR" property="chineseName"/>
        <result column="url" jdbcType="VARCHAR" property="permissionUrl"/>
        <result column="router" jdbcType="VARCHAR" property="router"/>
    </resultMap>

    <select id="findUser" resultMap="userInfoMap">
        SELECT
            id_user,
            user_name,
            user_password,
            credentials_salt
        FROM user
        WHERE user_name = #{userName}
    </select>

    <select id="findRoleByUser" resultMap="roleMap">
        SELECT
            role.id_role,
            r.role_name
        FROM user_role role, role r
        WHERE r.id_role = role.id_role AND role.id_user = #{id}
    </select>

    <select id="findPermissionByRole" resultMap="menuMap">
        SELECT
            a.id_menu,
            m.menu_name,
            m.chinese_name,
            m.url,
            m.router
        FROM
            auth AS a,
            menu AS m
        WHERE a.id_role = #{id}
              AND a.id_menu = m.id_menu
    </select>

    <insert id="insertUser" parameterType="com.nancy.control.bean.UserInfo">
        INSERT INTO user (id_user, user_name, user_password, credentials_salt, insert_date) VALUES (
            REPLACE(UUID(), '-', ''),
            #{userName},
            #{userPassword},
            #{credentialsSalt},
            now()
        )
    </insert>
</mapper>